@media (min-width: 768px) {
    
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
    }

    header p {
        margin-bottom: 0;
    }

    #menuButton {
        display: none;
    }

    nav ul {
        display: flex !important; 
        flex-direction: row;
        gap: 0.5rem;
    }

    nav a {
        padding: 0.5rem 1rem;
        border-radius: 4px;
    }

    main {
        gap: 2rem;
    }
}